<h2> Register </h2>

<form>
    Username: <br>
    <input type="text" id="userRegisterText" name="usr"> <br>
    Parola: <br>
    <input type="password" id="passwordRegisterText"> <br>
    <br>
    Name: <br>
    <input type="text" id="nameRegisterText"> <br>
    <br>
    Surname: <br>
    <input type="text" id="surnameRegisterText"> <br>
    <br>
    Email: <br>
    <input type="text" id="emailRegisterText"> <br>
    <br>
    ID(grupa + serie): <br>
    <input type="text" id="idRegisterText"> <br>
    <br>
    <button type="button" (click)="_register()">Register</button>
</form>